<template name="ship_action">
<div class="wrapper">
{{#with get_ship}}
  <div class="section_title">
    <h1>{{name}}</h1>
    <button id="back">Back</button>
  </div>

  <div id="ship_info">
    <h2>{{hull}}</h2>
    <div id="ship_img">
      <img src="/{{hull}}.png">
    </div>

    <div id="ship_stats">
      <span class="stat">Armor : {{armor}}/{{full_armor}}</span>
      <span class="stat">Shield : {{shield}}/{{full_shield}}</span>
      <span class="stat">Energy: {{energy}}/{{full_energy}}</span>
      <span class="stat">Moves : {{moves}}/{{speed}}</span>
    </div>
  </div>

  <div id="ship_actions">
    <h2>Actions</h2>
    <img id="charge_shield" class="action_button" src="/charge_shield_button.png">
    <img id="move_up" class="action_button" src="/up_button.png">
    <img id="special_1" class="action_button" src="/placeholder_button.png">
    <img id="move_left" class="action_button" src="/left_button.png">
    <img id="special_2" class="action_button" src="/placeholder_button.png">
    <img id="move_right" class="action_button" src="/right_button.png">
    <img id="special_3" class="action_button" src="/placeholder_button.png">
    <img id="move_down" class="action_button" src="/down_button.png">
    <img id="special_4" class="action_button" src="/placeholder_button.png">
  </div>

  <div id="turret_list">
    <h2>Turrets</h2>
    {{#each ship_turrets}}
      {{> turret}}
    {{/each}}  
  </div>

  <div id="targets">
    <h2>Available Targets</h2>
    {{#each enemies_in_range}}
      {{> target}}
    {{/each}}
  </div>
  {{/with}} 
  <canvas id="main_map" width="400" height="400"></canvas>  
</div>
</template>

<template name="turret">
  <div class="turret_list attacked_{{has_attacked}}">
    <img class="turret" src="/{{image}}" id="{{_id}}">
    <div class="turret_stats">
      <span class="stat">Range: {{range}}</span>
      <span class="stat">Power: {{power}}</span>
      <span class="stat">Energy: {{energy}}</span>  
    </div>
  </div>
</template>

<template name="target">
  <div class="target">
    <img src="/{{hull}}.png">
    <div class="target_info">
      <span>{{name}} - {{hull}}</span>
      <span>[A:{{armor}}/{{full_armor}}] (S:{{shield}}/{{full_shield}})</span>
    </div>
    <button class="attack" id="{{_id}}">Attack</button>
  </div>
</template>
